#profile-tab { width: 638px; }
a.close { color: black !important; }
section h2.mt20 { margin-top: 20px; }
.input-btn-large { width: 450px; height: 30px; padding: 2px 0 2px 10px; margin: 0; }
.btn-input-large { margin-top: -3px; }
.tweet a.close { display: none; }
.tweet:hover a.close { display: block; }
.tweet p { word-wrap: break-word; overflow: hidden; }
.no-tweets { color: #888; font-size: 14px; background: url(../images/faceya.png) 135px center no-repeat; padding-left: 200px; padding-bottom: 20px; padding-top: 20px; }
.profile > * { margin-left: 10px; }
.profile ul.details { margin-left: 15px; }
.profile ul.details li { margin-bottom: 4px; line-height: 24px; }
.profile ul.details li .tools { display: none; }
.profile ul.details li:hover .tools { display: inline; margin-left: 5px; }
.profile .gender { width: 20px; height: 20px; }
.popup h2 { display: block; border-bottom: 1px solid #ccc; }
.popup form .field { margin: 5px 10px 5px 0; }
.popup form label { display: inline-block; width: 130px; text-align: right; }
.popup form label.small { width: 60px; }
.popup form.longlabel label { width: 140px; }
.popup form .action { float: right; }
ul.relation-list { margin-left: 25px; }
ul.relation-list li { line-height: 30px; }
ul.relation-list li .tools { display: none; }
ul.relation-list li:hover .tools { display: inline; }
ul.contacts { margin-left: 15px; margin-top: 6px; }
ul.contacts li { float: left; margin: 2px; }
ul.contacts img { width: 22px; height: 22px; }
#edit-info label.radio { width: 30px; text-align: left; margin-left: 5px; padding-left: 0; }
.avainfo { display: block; margin: 10px; padding: 0; width: 160px; height: 160px; position: relative; overflow: hidden; cursor: pointer; }
.avainfo .mask, .avainfo .edit { display: none; }
.avainfo:hover .mask, .avainfo:hover .edit { display: block; position: absolute; bottom: 0; left: 0; right: 0; height: 23px; line-height: 23px; width: 160px; background-color: #333; opacity: 0.9; filter: alpha(opacity=90); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; }
.avainfo .edit { color: white; text-align: center; }
.avainfo .edit:hover { color: white; }