html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font-weight: inherit; font-style: inherit; font-family: inherit; vertical-align: baseline; }

body { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

body, textarea { font: 13px/1.5 "Helvetica Neue", Helvetica, sans-serif; }

h1, h2, h3 { font-weight: 300; color: black; }

h1 { font-size: 26px; line-height: 26px; margin: 18px 0 2px 0; }

h2 { font-size: 18px; line-height: 22px; margin: 14px 0 8px 0; }

h3 { font-size: 18px; line-height: 18px; margin: 13px 0 6px 0; }

code { font-family: "Menlo", "Monaco", monospace; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

body { background-color: #f0f0f0; color: #333333; padding: 45px 0 10px 0; margin: 0; }
body > header { background: url(../images/headerbg-shadow.png) repeat; background-color: #930000; overflow: hidden; *zoom: 1; border-top: 1px solid black; height: 60px; left: 0; padding: 0; position: fixed; top: 0; width: 100%; z-index: 1000; }
body > header > .container { margin: 0 auto; max-width: 900px; }
body > header > .container > a { float: left; border-right: 1px solid black; padding: 7.5px 20px 7.5px 0; }
body > header > .container > a img { display: block; height: 45px; }
body > header nav { float: left; border-left: 1px solid #930000; padding: 0 0 0 20px; }
body > header nav a { color: #fff; display: block; float: left; font-family: "微软雅黑","Microsoft YaHei",Tahoma,Arial,Helvetica,sans-serif; font-size: 19px; font-weight: normal; line-height: 60px; margin: 0 9px; text-decoration: none; text-shadow: #550000, 0px, 1px, 1px; }
body > header nav a:first-child { margin-left: 0; }
body > header nav a:hover { color: #ffffcc; text-decoration: none; }
body > footer { background: url(../images/small-logo.png) no-repeat left top; padding: 10px 10px 10px 70px; max-width: 820px; margin: 20px auto; color: #777777; position: relative; font-size: 11px; }
body > footer a { color: #444444; }
body > footer .sponsor { position: absolute; top: 0; right: 0; }
body > footer .sponsor img { display: block; margin-top: 15px; }

.text { -webkit-box-shadow: #cccccc, 0px, 0px, 10px; -moz-box-shadow: #cccccc, 0px, 0px, 10px; box-shadow: #cccccc, 0px, 0px, 10px; overflow: hidden; *zoom: 1; background-color: #fafafa; color: #333333; margin: 10px auto 20px auto; width: 840px; padding: 30px; }
.text a { color: #0066aa; text-shadow: #f0f0f0, 1px, 1px, 0px; }
.text a:hover { color: #0099ff; }
.text p { margin: 5px 0; }
.text > p:first-of-type, .text > * > p:first-of-type { margin-top: 15px; }
.text strong { font-weight: bold; }
.text em { font-style: italic; }
.text sup { line-height: 100%; vertical-align: super; font-size: 70%; }
.text .math { font-weight: 500; }
.text pre code, .text .example { display: inline-block; padding: 15px; border: 1px solid #eeeeee; margin: 10px 0; background-color: #fefefe; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; }
.text .example { max-height: 400px; width: 390px; overflow: auto; }
.text .example .monospace, .text .example pre, .text .example input { margin: 0; padding: 0; line-height: 20px; font-size: 12px; font-family: Menlo, "monospace"; }
.text .example pre { clear: both; }
.text .example .prompt, .text .example .command { float: left; }
.text .example .prompt { width: 50px; color: #888888; }
.text .example .command, .text .example input { font-weight: bold; }
.text .example input { width: 325px; margin-left: -1px; outline: none; border: 0; color: #333333; }
.text h1.command { padding-left: 1.5em; }
.text h1.command span { display: inline-block; }
.text h1.command span.name { margin-left: -1.5em; }
.text h1:first-child { margin-top: 0; }

.columns { overflow: hidden; *zoom: 1; }
.columns > * { float: left; }
.columns > *:first-child { border-right: 1px solid #eeeeee; }
.columns > *:first-child > * { margin-right: 20px !important; }
.columns > *:last-child { border-left: 1px solid #eeeeee; left: -1px; position: relative; }
.columns > *:last-child > * { margin-left: 20px; }
.columns > section { width: 33%; min-height: 240px; }
.columns section > * { margin-left: 20px; }
.columns.sidebar > section { width: 70%; }
.columns.sidebar > aside { width: 200px; min-height: 400px; }
.columns.sidebar .columns { margin-left: 0 !important; margin-right: 0 !important; }
.columns.nosidebar > section { width: 100%; border: none; }
.columns.nosidebar > *:last-child > * { margin-left: 0; }

.home section p:first-child { font-size: 20px; line-height: 26px; font-weight: 300; margin-top: 0; }
.home section p:first-child strong { font-weight: 450; }
.home aside { font-size: 11.5px; line-height: 15px; }
.home aside a { color: #666666; }
.home aside h2:first-child { margin-top: 0; }

article > p, article ul { margin: 7px 0; }
article > ul { list-style-type: disc; margin-left: 25px; }
article code { font-size: 12px; }
article ol { list-style-type: decimal; margin-left: 25px; }
article ol li { margin: 4px 0; }
article ol ol { list-style-type: lower-alpha; }
article h2, article h3 { font-weight: 500; }
article h2 { margin-top: 22px; }
article h3 { margin-top: 18px; }
article aside { border-left: 1px solid #dfdfdf; float: right; margin: 0 0 15px 20px; padding: 0 0 0 20px; }
article aside > *:first-child { margin-top: 0; }
article aside h2 { font-size: 16px; font-weight: 300; }
article table { margin: 10px 0; }
article table tr td { vertical-align: top; padding: 6px 10px; border-bottom: 1px solid #dddddd; }
article table tr:last-child td { border-bottom-width: 0; }
article table tr.current { background-color: #feffe8; }
article table.versions td:first-child { font-size: 22px; line-height: 22px; }

body.topics.whos-using-redis ul:first-of-type { text-align: center; list-style-type: none; margin: 15px; }
body.topics.whos-using-redis ul:first-of-type li { margin: 10px 10px; padding: 0; display: inline-block; vertical-align: middle; }
body.topics.whos-using-redis ul:first-of-type li img { vertical-align: middle; max-width: 200px; max-height: 76px; }

#buzz { text-align: right; }
#buzz h2, #buzz ul { text-align: left; }
#buzz ul { margin: 7px 0; }
#buzz li { margin: 0 0 8px 0; padding-left: 34px; position: relative; min-height: 26px; }
#buzz li a:first-child { -webkit-box-shadow: #bbbbbb, 0px, 0px, 3px; -moz-box-shadow: #bbbbbb, 0px, 0px, 3px; box-shadow: #bbbbbb, 0px, 0px, 3px; display: block; height: 26px; left: 0; position: absolute; top: 3px; width: 26px; }
#buzz li a:first-child img { height: 26px; width: 26px; }

/** my own styles **/
.success { color: #234600; background-color: #F8FFF0; border: 1px solid #BE7; padding: 10px; margin-bottom: 15px; border-radius: 3px; }
.failure { color: #8C2E0B; background-color: #FEF5F1; border: 1px solid #ED541D; padding: 10px; margin-bottom: 15px; border-radius: 3px; }
.monofont { font-family: Consolas,Monaco,"Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New",monospace; }

.userinfo { float: right; color: #fff; }
.userinfo a { color: #fff; }
.userinfo a:hover {}
.userinfo a:active {}

.clear { clear: both; }
.w500 { width: 578px; }
.w300 { width: 397px; }

/** github buttons **/
button.classy,button.classy:disabled,button.classy.disabled,a.button.classy:disabled,a.button.classy.disabled,button.classy:disabled:hover,button.classy.disabled:disabled:hover,a.button.classy.disabled:hover:disabled,a.button.classy.disabled:hover,a.button.classy,button.classy:disabled:hover,button.classy.disabled:disabled:hover,a.button.classy:disabled:hover,a.button.classy.disabled:disabled:hover,a.button.classy.disabled:hover{
display:inline-block;
padding:8px 15px;
line-height:normal;
position:relative;
font-family:Helvetica,arial,freesans,clean,sans-serif;
font-size:12px;
font-weight:bold;
color:#666;
text-shadow:0 1px rgba(255,255,255,0.9);
background:#f5f5f5;
background:-moz-linear-gradient(#f5f5f5,#e5e5e5);
background:-webkit-linear-gradient(#f5f5f5,#e5e5e5);
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5',endColorstr='#e5e5e5')";
border-radius:3px;
border:1px solid #ddd;
border-bottom-color:#bbb;
box-shadow:0 1px 3px rgba(0,0,0,0.1);
cursor:pointer;
user-select:none;
-webkit-user-select:none;
-moz-user-select:none;
}
button.classy.primary,button.primary.classy:disabled,button.primary.classy.disabled,a.primary.button.classy:disabled,a.primary.button.classy.disabled,button.primary.classy:disabled:hover,button.primary.classy.disabled:disabled:hover,a.primary.button.classy.disabled:hover:disabled,a.primary.button.classy.disabled:hover,a.button.classy.primary,button.classy:disabled:hover.primary,button.classy.disabled:disabled:hover.primary,a.button.classy:disabled:hover.primary,a.button.classy.disabled:disabled:hover.primary,a.button.classy.disabled:hover.primary{
color:#fff;
text-shadow:0 -1px 0 rgba(0,0,0,0.4);
border-color:#74bb5a;
border-bottom-color:#509338;
background:#8add6d;
background:-moz-linear-gradient(#8add6d,#60b044);
background:-webkit-linear-gradient(#8add6d,#60b044);
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#8add6d',endColorstr='#60b044')";
box-shadow:0 1px 4px rgba(0,0,0,0.2);
}
button.classy.primary:hover,button.primary.classy:hover:disabled,button.primary.classy.disabled:hover,a.primary.button.classy:hover:disabled,a.primary.button.classy.disabled:hover,button.primary.classy.disabled:hover:disabled,a.primary.button.classy.disabled:hover:disabled,a.button.classy.primary:hover,button.classy:disabled:hover.primary:hover,button.classy.disabled:disabled:hover.primary:hover,a.button.classy:disabled:hover.primary:hover,a.button.classy.disabled:disabled:hover.primary:hover,a.button.classy.disabled:hover.primary:hover{
background:#69d344;
background:-moz-linear-gradient(#69d344,#4c8b36);
background:-webkit-linear-gradient(#69d344,#4c8b36);
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#69d344',endColorstr='#4c8b36')";
border-color:#4a993e;
color:#fff;
}
button.classy.danger,button.danger.classy:disabled,button.danger.classy.disabled,a.danger.button.classy:disabled,a.danger.button.classy.disabled,button.danger.classy:disabled:hover,button.danger.classy.disabled:disabled:hover,a.danger.button.classy.disabled:hover:disabled,a.danger.button.classy.disabled:hover,a.button.classy.danger,button.classy:disabled:hover.danger,button.classy.disabled:disabled:hover.danger,a.button.classy:disabled:hover.danger,a.button.classy.disabled:disabled:hover.danger,a.button.classy.disabled:hover.danger{
color:#900;
}
button.classy.danger:hover,button.danger.classy:hover:disabled,button.danger.classy.disabled:hover,a.danger.button.classy:hover:disabled,a.danger.button.classy.disabled:hover,button.danger.classy.disabled:hover:disabled,a.danger.button.classy.disabled:hover:disabled,a.button.classy.danger:hover,button.classy:disabled:hover.danger:hover,button.classy.disabled:disabled:hover.danger:hover,a.button.classy:disabled:hover.danger:hover,a.button.classy.disabled:disabled:hover.danger:hover,a.button.classy.disabled:hover.danger:hover{
color:#fff;
text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
border-bottom-color:#cd504a;
background:#dc5f59;
background:-moz-linear-gradient(#dc5f59,#b33630);
background:-webkit-linear-gradient(#dc5f59,#b33630);
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#dc5f59',endColorstr='#b33630')";
}
button.danger.classy:disabled,button.danger.classy.disabled:disabled,a.danger.button.classy:disabled,a.danger.button.classy.disabled:disabled,button.danger.classy:disabled:hover,button.danger.classy.disabled:disabled:hover,a.danger.button.classy.disabled:disabled:hover,button.danger.disabled.classy:disabled,button.danger.disabled.classy,a.danger.disabled.button.classy:disabled,a.danger.disabled.button.classy,button.danger.disabled.classy:disabled:hover,a.danger.disabled.button.classy:hover:disabled,a.danger.disabled.button.classy:hover,a.button.classy.danger:disabled,a.button.classy.danger.disabled,button.classy:disabled:hover.danger:disabled,button.classy.disabled:disabled:hover.danger:disabled,a.button.classy:disabled:hover.danger:disabled,a.button.classy.disabled:disabled:hover.danger:disabled,button.classy:disabled:hover.danger.disabled,a.button.classy:disabled:hover.danger.disabled,a.button.classy.disabled:hover.danger:disabled,a.button.classy.disabled:hover.danger.disabled{
color:#900;
text-shadow:1px 1px 0 #fff;
border-bottom:1px solid #ebebeb;
background:white;
background:-moz-linear-gradient(white,#e1e1e1);
background:-webkit-linear-gradient(white,#e1e1e1);
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='white',endColorstr='#e1e1e1')";
}
button.classy.danger.mousedown,button.classy.danger.primary.mousedown,button.danger.primary.mousedown.classy:disabled,button.danger.primary.mousedown.classy.disabled,a.danger.primary.mousedown.button.classy:disabled,a.danger.primary.mousedown.button.classy.disabled,button.danger.primary.mousedown.classy:disabled:hover,button.danger.primary.mousedown.classy.disabled:disabled:hover,a.danger.primary.mousedown.button.classy.disabled:hover:disabled,a.danger.primary.mousedown.button.classy.disabled:hover,a.classy.danger.button.primary.mousedown,a.danger.primary.mousedown.button.classy:disabled:hover,button.danger.mousedown.classy:disabled,button.danger.mousedown.classy.disabled,a.danger.mousedown.button.classy:disabled,a.danger.mousedown.button.classy.disabled,button.danger.mousedown.classy:disabled:hover,button.danger.mousedown.classy.disabled:disabled:hover,a.danger.mousedown.button.classy.disabled:hover:disabled,a.danger.mousedown.button.classy.disabled:hover,a.button.classy.danger.mousedown,button.primary.mousedown.classy:disabled:hover.danger,button.primary.mousedown.classy.disabled:disabled:hover.danger,a.primary.mousedown.button.classy:disabled:hover.danger,a.primary.mousedown.button.classy.disabled:disabled:hover.danger,button.classy:disabled:hover.danger.mousedown,button.classy.disabled:disabled:hover.danger.mousedown,a.button.classy:disabled:hover.danger.mousedown,a.button.classy.disabled:disabled:hover.danger.mousedown,a.button.classy.disabled:hover.danger.mousedown{
border-bottom-color:#dc5f59;
background:#b33630;
background:-moz-linear-gradient(#b33630,#dc5f59);
background:-webkit-linear-gradient(#b33630,#dc5f59);
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#b33630',endColorstr='#dc5f59')";
}
button.classy:hover,button.classy:hover:disabled,button.classy.disabled:hover,a.button.classy:hover:disabled,a.button.classy.disabled:hover,button.classy.disabled:hover:disabled,a.button.classy.disabled:hover:disabled,a.button.classy:hover,button.classy:disabled:hover:hover,button.classy.disabled:disabled:hover:hover,a.button.classy:disabled:hover:hover,a.button.classy.disabled:disabled:hover:hover,a.button.classy.disabled:hover:hover{
color:#337797;
text-decoration:none;
background:#f0f7fa;
background:-moz-linear-gradient(#f0f7fa,#d8eaf2);
background:-webkit-linear-gradient(#f0f7fa,#d8eaf2);
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f7fa',endColorstr='#d8eaf2')";
border-color:#cbe3ee;
border-bottom-color:#97c7dd;
}
button.classy:disabled,button.classy.disabled:disabled,a.button.classy:disabled,a.button.classy.disabled:disabled,button.classy:disabled:hover,button.classy.disabled:disabled:hover,a.button.classy.disabled:disabled:hover,button.disabled.classy:disabled,button.disabled.classy,a.disabled.button.classy:disabled,a.disabled.button.classy,button.disabled.classy:disabled:hover,a.disabled.button.classy:hover:disabled,a.disabled.button.classy:hover,a.button.classy:disabled,a.button.classy.disabled,button.classy:disabled:hover:disabled,button.classy.disabled:disabled:hover:disabled,a.button.classy:disabled:hover:disabled,a.button.classy.disabled:disabled:hover:disabled,button.classy:disabled:hover.disabled,a.button.classy:disabled:hover.disabled,a.button.classy.disabled:hover:disabled,a.button.classy.disabled:hover.disabled{
opacity:.5;
}
button.classy.mousedown,button.classy.primary.mousedown,button.primary.mousedown.classy:disabled,button.primary.mousedown.classy.disabled,a.primary.mousedown.button.classy:disabled,a.primary.mousedown.button.classy.disabled,button.primary.mousedown.classy:disabled:hover,button.primary.mousedown.classy.disabled:disabled:hover,a.primary.mousedown.button.classy.disabled:hover:disabled,a.primary.mousedown.button.classy.disabled:hover,a.classy.button.primary.mousedown,a.primary.mousedown.button.classy:disabled:hover,button.mousedown.classy:disabled,button.mousedown.classy.disabled,a.mousedown.button.classy:disabled,a.mousedown.button.classy.disabled,button.mousedown.classy:disabled:hover,button.mousedown.classy.disabled:disabled:hover,a.mousedown.button.classy.disabled:hover:disabled,a.mousedown.button.classy.disabled:hover,a.button.classy.mousedown,button.primary.mousedown.classy:disabled:hover,button.primary.mousedown.classy.disabled:disabled:hover,a.primary.mousedown.button.classy:disabled:hover,a.primary.mousedown.button.classy.disabled:disabled:hover,button.classy:disabled:hover.mousedown,button.classy.disabled:disabled:hover.mousedown,a.button.classy:disabled:hover.mousedown,a.button.classy.disabled:disabled:hover.mousedown,a.button.classy.disabled:hover.mousedown{
color:#fff;
text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
border-color:#2a65a0;
border-bottom-color:#0770a0;
background:#0770a0;
background:-moz-linear-gradient(#0770a0,#0ca6dd);
background:-webkit-linear-gradient(#0770a0,#0ca6dd);
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#0770a0',endColorstr='#0ca6dd')";
}
button.classy::-moz-focus-inner,button.classy:disabled::-moz-focus-inner,button.classy.disabled::-moz-focus-inner,a.button.classy:disabled::-moz-focus-inner,a.button.classy.disabled::-moz-focus-inner,button.classy:hover:disabled::-moz-focus-inner,button.classy.disabled:hover:disabled::-moz-focus-inner,a.button.classy.disabled:disabled:hover::-moz-focus-inner,a.button.classy.disabled:hover::-moz-focus-inner{
margin:-1px -3px;
}
a.button.classy{
display:inline-block;
}
button.classy img,button.classy:disabled img,button.classy.disabled img,a.button.classy:disabled img,a.button.classy.disabled img,button.classy:disabled:hover img,button.classy.disabled:disabled:hover img,a.button.classy.disabled:hover:disabled img,a.button.classy.disabled:hover img,a.button.classy img{
position:relative;
top:-1px;
margin-right:3px;
vertical-align:middle;
}