<style type="text/css">
.acm-close-box{border:0;width:16px;height:16px;position:fixed;bottom:242px;right:5px;}
.acm-popup-image{border:0;width:269px;height:257px;position:fixed;bottom:0;right:5px;}
</style>

<div id="acm-class-popup">
  <a target="_blank" href="http://xiaoyou.acm-project.org/"><img class="acm-popup-image" src="http://xiaoyou.acm-project.org/popup/image.png"/></a>
  <a href="javascript:void(document.getElementById('acm-class-popup').style.display='none')"><img class="acm-close-box" src="http://xiaoyou.acm-project.org/popup/close_box.png"/></a>
</div>