#pop_back { position:absolute; left:75%; top:60%; width:268px; height:268px; border:0; outline:none; }
#pop_back a { top:0; bottom:0; left:0; right:0; margin:0; padding:0; border:0; outline:none; }
#back { margin:0; padding:0; width:100%; height:100%; border:0; outline:none; }
#pop_close { position:absolute; top:10px; right:15px; width:20px; height:20px; border:0; outline:none; }